.breadcrumbs-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  padding: 0rem ;
}
.carousel-area
{
  margin-bottom: 1rem;
  padding: 0rem 1rem;
}
.review-area
{
  margin-bottom: 1rem;
  padding: 0rem 0rem;
  background-color: white;
  display: flex;
}
.product-background
{
    background-color: rgb(248, 248, 248);
    height:100%;
}
.product-body-container
{
    background-color: white;
    display: flex;
}
.breadcrumbs-container span {
  color: rgb(189, 189, 189);
  margin-right: 0.15rem;
  font-size: 0.9rem;
}
.breadcrumbs-container :last-child {
  color: black;
  margin-right: 0.15rem;
  font-size: 0.9rem;
}
.product-large-image {
  display: flex;
   width: 45%;
}
.head-label
{
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 0;
}
.individual-product-name {
    font-family: loto;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #151b39;
  font-size: 1.3rem !important;
  display: flex;
  justify-content: flex-start;
  letter-spacing: .01rem;
  margin-top: 5rem;
}
.individual-product-category
{
  font-size: .9rem;
  display: flex;
  justify-content: flex-start;
  margin-top: .5rem;
  color: rgb(136, 136, 136);
}
.individual-image
{
  display: none;
}
.individual-product-rating
{
  font-size: .9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: .5rem;
  color: rgb(136, 136, 136);
}
.individual-rating-star
{
  display: flex;
  justify-content: flex-start;
  width: fit-content;
}
.individual-review
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding:.1rem .5rem;
  color: rgb(0, 0, 0);;
  width: 80%;
}
.individual-best-price
{
  display: flex;
  justify-content: flex-start;
  align-items:center ;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: rgb(78,174,177);
  font-weight: 500;
}
.individual-product-manufacturer
{
  display: flex;
  justify-content: flex-start;
  font-size: .8rem;
  font-weight: 500;
  margin-top: .5rem;
}
.product-right-wrap
{
  width:55%;
  padding-left: 3rem;
}
.individual-cart-button
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0rem;
  width: 60%;
  height: 2.7rem;
  font-size: 1rem;
  border-radius: .3rem;
}
.individual-description
{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.desc-tag
{
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
.desc-body
{
  text-align: left;
  font-size: .9rem;
  line-height: 24px;
  margin-top: .3rem;
}
@media screen and (max-width: 1200px) {
  .review-area
  {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .individual-review
{
  padding: .1rem 0rem;
}
.product-right-wrap
{
  padding-left: 0px;
}
.head-label
{
  padding:1rem;
}
.individual-cart-button
{
  width: 100%;
}
.review-area
{
  padding: 0rem 1rem;
}
}
@media screen and (max-width: 786px) {
  .product-body-container
  {
    width: 100%;
    display:flex;
    flex-direction: column;
    padding:0rem 1rem;
  }
  .breadcrumbs-container {
    margin-top: 0.5rem;
    padding: 0rem 1rem;
  }
  .product-large-image {
    display: none;
  }
  .product-background
  {
      background-color: white;
  }
  .individual-image
  {
    display: flex;
  }
  .product-right-wrap
{
  width:100%;
  padding-left: 0rem;
}
}
@media screen and (max-width: 592px) {
  .individual-image img
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
