.products-container
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap:1rem;
    width:100vw;
    margin-top: 1rem;
}
.product-box
{
    display:flex;
    height:auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.discount-tab
{
    display:flex;
    width:95%;
    font-size: .7rem;
    color: white;
    margin-top: .3rem;
}
.product-image-box{
display: flex;
justify-content: center;
width: 100%;
}
.product-image-box img
{
    width: 50%;
    height: auto;
}
.product-name
{
    display:flex;
    font-size: .8rem;
    height: 3rem;
    font-weight: bold;
    text-align: left;
    margin-top: .3rem;
    width:95%;
}
.product-manufacturer
{
    display:flex;
    font-size: .8rem;
    margin-top: .3rem;
    width:95%;
}
.product-bestprice
{
    display:flex;
    font-weight: bold;
    font-size: .8rem;
    color: rgb(64, 143, 0);
    margin-top: .3rem;
    width:95%;
}
.product-price
{
    display:flex;
    font-size: .8rem;
    margin-top: .3rem;
    text-decoration:line-through;
    width:95%;
}
.cart-button
{
    display:flex;
    margin-bottom: 1rem;
    margin-top: .3rem;
    width:95%;
}
.cart-button button
{
    outline: none;
    border: none;
    background-color: #33aeb1;
    color: white;
    width: 100%;
    border-radius: .3rem;
    padding: .5rem;
}
@media screen and (max-width:1296px)
{
.products-container
{
    grid-template-columns: repeat(2,1fr);
}
}
@media screen and (max-width:784px)
{
    .products-container
    {
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:592px)
{
    .products-container
    {
        grid-template-columns: repeat(1,1fr);
    }
.product-box
{
    margin-bottom: .1rem;
}
}