.categories-container,.filter-container {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
  margin-top: 0rem;
}
.wrapper-container
{
  width:95%;
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}
.filter-header {
  display: flex;
  align-items: center;
  font-weight: 700;
  border-bottom: 1px solid rgb(216, 216, 216);
  margin:1rem 0rem;
}
.filter-heading-box {
  display: flex;
  font-weight: 600;
  height: 1.5rem;
  align-items: center;
  font-size: .9rem;
}
.filter-content-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 3rem;
  overflow-y: auto;
}
.filter-content-box input[type="search"] {
  background-color: rgb(238, 238, 238);
  height: 1.8rem;
  width: 95%;
  border-radius: .3rem;
  padding-left: .5rem;
}
.filter-checkboxes {
  display: flex;
  align-items: center;
  margin-top: .2rem;
}
.categories-menus {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 0.8rem;
}
.categories-menus .fa-chevron-right {
  display: flex;
  color: #33aeb1;
  transform: rotate(0deg);
  transition: transform 0.4s linear;
}
.categories-menus .half-rotate {
  display: flex;
  color: #33aeb1;
  transform: rotate(90deg);
  transition: transform 0.4s linear;
}
.categories-menus .right-icon {
  width: 1.5rem;
  display: flex;
}
.wrapper-container li
{
 font-size: .8rem;
 cursor: pointer;
}
@media screen and (max-width:992px) {
  .categories-container {
    margin-top: 0rem;
  }
  .filter-container
  {
    height: 20rem;
    overflow-y: auto;
  }
  .filter-header
  {
    display: none;
  }
}