.categories-container,.filter-container {
  width: 20%;
  display: flex;
  background-color: white;
  justify-content: center;
  margin-top: 0rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.wrapper-container
{
  width:90%;
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}
.filter-header {
  display: flex;
  font-weight: 600;
  margin:.5rem 0rem;
  padding: 0rem 1rem;
}
.filter-heading-box {
  display: flex;
  font-weight: 500;
  font-size: .9rem;
  margin:0rem 0rem 0.3rem 0rem;
  padding: 0rem 1rem;
}
.ant-checkbox-group
{
  display: flex !important;
  flex-direction: column !important;
  font-size: .8rem !important;
}
.filter-content-box {
  padding: 0rem 1rem;
  overflow-y: auto;
  margin-bottom: 1rem;
}
.filter-checkboxes {
  display: flex;
  align-items: center;
  margin-top: .2rem;
}
.categories-menus {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 0.8rem;
}
.categories-menus .fa-chevron-right {
  display: flex;
  color: #33aeb1;
  transform: rotate(0deg);
  transition: transform 0.4s linear;
}
.categories-menus .half-rotate {
  display: flex;
  color: #33aeb1;
  transform: rotate(90deg);
  transition: transform 0.4s linear;
}
.categories-menus .right-icon {
  width: 1.5rem;
  display: flex;
}
.wrapper-container li
{
 font-size: .8rem;
 cursor: pointer;
}
@media screen and (max-width:992px) {
  .categories-container,.filter-container {
    display: none;
  }
  /* .filter-container
  {
    height: 20rem;
    overflow-y: auto;
  }
  .filter-header
  {
    display: none;
  } */
}