.search-slider
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}
.search-slider-container
{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color: white;
    border-radius: .3rem;
    border: 2px solid red;
}
.search-slider-container .image-box
{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.search-slider-container .image-box img
{
 width: 60px;
 height: auto;
 border-radius: 50%;
}
.search-slider-container .text-box
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    margin: .5rem 0rem;
}