.home-headings
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.multi-slider-container
{
    width: 90%;
    height:auto;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content:center;
}
.multislider-wrapper
{
    width: 100%;
    display: flex;
}
.multi-slider-container img
{
    border-radius: .3rem;
    width:85%;
    cursor: pointer;
}
@media screen and (max-width:592px)
{
    .multi-slider-container
{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
    .multi-slider-container img
{
    width:95%;
}
}