
/* .multislider-wrapper
{
    width: 100%;
    display: flex;
}
.multi-slider-container img
{
    border-radius: .3rem;
    width:85%;
    cursor: pointer;
}
@media screen and (max-width:592px)
{
    .multi-slider-container
{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
    .multi-slider-container img
{
    width:95%;
}
} */
.multi-slider-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.multi-slider-wrap
{
    width:92%
}