.cart-container
{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.cart-label-head
{
        font-family: LatoBold;
        font-size: 24px;
        color: #151b39;
        margin: 0;
        padding: 24px 0px;
        text-align: left ;
}
.cart-image-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.cart-image-box img{
    width: 50%;
    height: 100%;
}
.cart-item-box
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    font-family: Lato;
    line-height: 24px;
    letter-spacing: .15px;
    font-style: normal;
}
.cart-product-name
{
    font-weight: 500;
    font-size: 1.2rem;  
    color: #151b39;
    text-align: left;  
    margin-top: .8rem;
}
.cart-product-quantity
{
    font-size: .85rem;
    text-align: left;  
    font-weight: 500;
    color: #f50c04;
    margin-top: .2rem;
}
.cart-product-price
{
    font-size: 1.2rem;
    color: rgb(78,174,177);
    text-align: left;
    font-weight: 500;
    margin-top: .5rem;
}
.cart-original-price
{
    font-size: 1rem;
    margin-left: 1rem;
    text-decoration: line-through;
    color: #151b39;
    font-weight: 400;
}
.cart-quantity
{
    text-align: left;
    margin: 1rem 0rem;
    display: flex;
}
.remove-cart
{
margin:0rem 1rem;
width: 30%;
font-size: 1rem;
display: flex;
align-items: center;
justify-content: center;
background-color: #EA5489;
border: none;
}
.cart-qty
{
    width: 4rem;
    text-align: center;
    font-size: 1.1rem;
    padding: 0;
    border: 1.5px solid #33aeb1;
}
.ant-input-number-group-addon
{
    font-size: .85rem ;
}
.cart-container hr
{
    width: 90%;
    margin: auto;
    margin-bottom: .5rem;
}
.add-more
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0rem;
    color: rgb(78,174,177);
    font-size: 1rem;
    cursor: pointer;
}
.add-more .add-icon
{
    margin-left: 1rem;
    transform: scale(.9);
}
.checkout-container
{
   padding: 0px 1rem;
   box-sizing: border-box;
   display: flex;
   justify-content: flex-end;
}
.increment,.decrement
{
    background-color: #33aeb1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 992px) {
.cart-container
{
    box-shadow: none;
}
.cart-container hr 
{
    width: 100%;
}
.cart-image-box img{
    width: 20%;
    height: 100%;
}
.cart-qty
{
    width: 20%;
}
.checkout-container
{
    padding: 0px;
    margin-top: 1rem;
}
.remove-cart
{
    width: 50%;
    background-color: #EA5489;
}
.cart-label-head
{
    padding:24px 2px;
}
}
@media screen and (max-width: 592px) {
    .cart-image-box
    {
        justify-content: flex-start;
    }
    .cart-image-box img{
        width: 20%;
        height: 100%;
    }
    .cart-quantity
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .cart-qty
    {
        width: 35%;
    }
    .remove-cart
    {
        margin: 1rem 0rem;
        width: 100%;
    }
    }