.show-component
{
   display: flex;
}
.hide-component
{
    display: none;
}
.products-wrap
{
    width:80vw;
    display: flex;
}
.side-section
{
    width: 20vw;
}
@media screen and (max-width:1296px)
{
.side-section
{
    width: 40vw;
}
.products-wrap
{
    width: 60vw;
}
}
@media screen and (max-width:992px){
.side-section
{
    display: none;
}
.products-wrap
{
    width: 100vw;
}
.hide-component
{
    display: flex;
}
.show-component
{
    display: none;
}
.filter-position
{
 width: 100vw;
} 
}