.product-filter
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.product-section
{
    width: 75%;
}
.show-component
{
   display: flex;
}
.hide-component
{
    display: none;
}
.products-wrap
{
    width:100%;
    display: flex;
}
.side-section
{
    width: 20vw;
}
@media screen and (max-width:1296px)
{
.side-section
{
    width: 40vw;
}
}
@media screen and (max-width:992px){
.side-section
{
    display: none;
}
.products-wrap
{
    width: 100vw;
}
.product-section
{
    width: 100%;
}
.hide-component
{
    display: flex;
    width: 95%;
    margin: auto;
}
.show-component
{
    display: none;
}
.filter-position
{
 width: 100vw;
} 
}