.account-tabs-container
{
    width:90%;
    margin: auto;
    margin-top: 0rem;
}
.myaccount-header
{
    display: flex;
    width: fit-content;
    padding:.1rem .5rem;
    font-size: 1.2rem;
    margin-left:2rem;
    margin-top: 1rem;
    border-radius: .3rem;
    border:2px solid #2FA3FB;
    color: #2FA3FB;
    cursor: pointer;
}
.myaccount-header:hover
{
    background-color: #2FA3FB;
    color: white;
}
.account-dashboard
{
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
}
.account-dashboard .left-section
{
width:20%;
border:1px solid rgb(197, 197, 197);
height:20rem;
}
.first-list
{
    width: 100%;
    height:2rem;
    background-color: #2FA3FB;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.account-dashboard .right-section
{
    width:80%;
}
@media screen and (max-width:592px)
{
    .account-tabs-container
    {
        width: 100%;
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
    }
    .profile-container
    {
        width: 100%;
        height:8rem;
        background-color:#3372D7;
        display: flex;
        align-items: center;
    }
    .profile-account-pic
    {
        width: 35%;     
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profile-account-pic img
    {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        
    }
    .account-tabs-container .profile-name
    {
        width: 60%;
        font-family: poppins, sans-serif;
        font-weight: bold;
        font-size: 1rem;
        color: white;
    }
    .myprofile-options
    {
        width: 100%;
        padding: 1rem .5rem;
        height:fit-content;
        display: flex;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        font-size: 1rem;
        cursor: pointer;
    }
    .forward-icon
    {
        transform: scale(.7);
    }
}