.mobile-footer-container
{
    display: none;
}
@media screen and (max-width: 592px) {
.mobile-footer-container
{
    width:100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgb(251, 251, 251); 
    padding-bottom: .5rem;
    margin-top: 1rem;
}
.footer-content-box
{
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
}
.footer-content-icon
{
display: flex;
height: 3rem;
width: 100%;
align-items: center;
justify-content: center;
}
.footer-content-icon .home-icon
{
    color:#33aeb1
}
.footer-content-icon .wishlist-icon
{
    color:#4569F7;
}
}