.navbarbottom-container {
    display: flex;
    height: auto;
    background-color: #33aeb1;
    border-top: 1px solid rgb(212, 212, 212);
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
  }
  .navbar-box
  {
   display: flex;
  }
  .hamburger-icon
  {
    display: none;
  }
  .navbarbottom-container #hidden
  {
display: flex;
  }
.navbarbottom-items
{
    display: flex;
    color:#ffffff;
    height:3.5rem;
    width:fit-content;
    padding: 0rem 1.8rem;
    align-items: center;
    font-size: .9rem;
    font-weight: normal;
    cursor: pointer;
}
.hamburger-icon .fa-bars,.hamburger-icon .fa-times
{
  color: #ffffff;
  font-size: 1.9rem;
}
.navIcons
{
  display: none;
}
@media screen and (max-width: 992px) {
  .navbarbottom-container {
    justify-content: center;
  }
  .navbar-box
  {
   display: none;
  }
  .hamburger-icon
  {
   display: flex;
   margin:.3rem .5rem 0rem 1rem;
   width:3rem;
   justify-content: center;
  }
   #hidden
  {
   position: fixed;
   left: 0;
   top: 5rem;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #33aeb1;
   height:auto;
   z-index: 10000000;
   -moz-transition:all 300ms ease-in-out;
   -webkit-transition:all 300ms ease-in-out;
   -o-transition:all 300ms ease-in-out;
   transition:all 300ms ease-in-out;
   border-top: 1px solid white;
  }
  #open 
  {
    position: fixed;
    left:-100%;
    top: 5rem;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height:auto;
    z-index: 1000;
    -moz-transition:all 300ms ease-in-out;
   -webkit-transition:all 300ms ease-in-out;
   -o-transition:all 300ms ease-in-out;
   transition:all 300ms ease-in-out;
  }
  .navbarbottom-items
{
    width:100%;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    font-size: 1.1rem;
    padding-left: .3rem;
}
.navbarbottom-items
{
  justify-content: space-between;
}
.navMenus
{
  display: flex;
  width: 70%;
  height: 100%;
  align-items:flex-end ;

}
.navbarbottom-items:last-child
{
  margin-bottom: 1rem;
}
.navIcons
{
  display: flex;
  width:30%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
}
.navIcons img 
{
  width:2.3rem;
  height:2.2rem;
}
}
@media screen and (max-width: 992px) {
.navbarbottom-container
{
  margin-top: 4.2rem;
}
}
