.mobile-filter-box {
  display: none;
}
.filter-modal
{
  display: none;
}
@media screen and (max-width: 992px) {
  .mobile-filter-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .filter-header-modal {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding-left: .7rem;
  }
  .filter-icon-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    cursor: pointer;
  }
  .filter-modal
  {
    margin-top: 7rem;
  }
  .filter-icon-box .arrow-dropdown
  {
    cursor: pointer;
  }
  .mobile-filter-box .icon-box .fa-sort-amount-up-alt,
  .mobile-filter-box .icon-box .fa-filter {
    color: #000000;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 592px) {
  .icon-box {
    width: 30%;
  }
}
