.login-wrapper
{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
.toastify-container
{
  display: flex;
  width: 40%;
  margin-top: 2rem;
  background-color: #337D32;
  color: white;
  font-size: .9rem;
  border-radius: .3rem;
  padding: .4rem .5rem;
}
.toastify-container .fa-check-circle
{
  padding-top: .1rem;
}
.login-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.login-container .image-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #3b999b,
    #51a1ec,
    #006d8f
  );
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.login-image
{
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}
.login-image img
{
  width: 70%;
  height: auto;
}
.medlogo
{
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  margin-top: 2rem;
  color: white;
  font-size: 1.3rem;
  height: fit-content;
  padding: 0rem 2rem;
  cursor: pointer;
}
.login-wrap{
width: 50%;
display: flex;
justify-content: center;
}
.login-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}
.login-heading {
  width: 80%;
}
.login-heading h2 {
font-weight: bold;
font-size: 2.5rem;
color: #3b999b;
}
.login-heading h4,h2 {
  text-align: left;
  margin-bottom: 1rem;
}
.login-heading p {
  text-align: left;
  font-size: 1rem;
}
.box {
  width: 100%;
}
.login-content-body {
  width: 80%;
  display: flex;
  margin-top: 0rem;
  flex-direction: column;
}
.mobile-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0rem;
}
.errors {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  color: rgb(224, 1, 1);
}
.mobile-label p {
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
  color: #696969;
  margin-bottom: 1.3rem;
}
.name-tab,
.number-tab {
  width: 100%;
  display: flex;
  margin-top: -1rem;
  flex-direction: column;
  align-items: flex-start;
}
.input-tab {
  border: 1px solid rgb(156, 156, 156);
  width: 100%;
  height: 3rem;
  border-radius: .3rem;
  padding-left: .5rem;
  font-size: 1.1rem;
}
.input-tab:focus
{
  outline: 2px solid #33aeb1;
}
.required-error {
  color: rgb(224, 1, 1);
  font-size: 0.8rem;
}
.number-box {
  width: 100%;
  text-align: left;
}
.prefix-number {
  width: 2rem;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.number-box input {
  width: 80%;
  height: 2rem;
  outline: none;
  border: none;
}
.button-login {
  display: flex;
  margin-top: 1rem;
  width: 100%;
}
.forgotpasswordbox {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  justify-content: flex-start;
  font-weight: 500;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}
.forgotpasswordbox:hover a
{
  color:red;
}
.new-user {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  justify-content: left;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  color: #ff2323;
  cursor: pointer;
}
.newuser-sub1 {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.newuser-sub2 {
  display: flex;
  width: auto;
  padding-left: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
.newuser-sub2 .fa-long-arrow-alt-right {
  font-size: 1rem;
}
.button-login button {
  border: 2px solid #353E5B;
  width: 100%;
  height: 3rem;
  outline: none;
  background-color: white;
  color: #353E5B;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1.5rem;
  transition: all 0.2s;
  border-radius: .3rem;
}
.button-login button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-login button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 8.5%;
  right: -20px;
  transition: 0.5s;
  color: #353E5B;
}
.button-login button:hover span {
  padding-right: 20px;
}

.button-login button:hover span:after {
  opacity: 1;
  right: 0;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.button-login button:hover
{
  background: linear-gradient(
    90deg,
    #3b999b,
    #51a1ec,
    #006d8f
  );
  border: none;
  color: white;
}
.social-media-icon-box {
  width: 90%;
  display: flex;
  margin: auto;
  margin-top: 1.5rem;
  justify-content: space-between;
}
.social-media-box {
  width: 45%;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8rem;
  align-items: center;
  border: 1px solid rgb(231, 231, 231);
}
.social-media-box img {
  width: 1.2rem;
  height: 1.2rem;
}
.error-container {
  width: 80%;
  color: #a94442;
  font-size: 1rem;
  padding:.3rem 0rem;
  display: flex;
  justify-content: center;
  margin-bottom: .8rem;
  background-color: #EFD3D2;
}
.user-verified-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-logo
  {
    display: none;
  }
@media screen and (max-width: 1600px) {
  .login-container {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .login-box {
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .login-container {
    flex-direction: column;
    width: 100%;
    border: none;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
  }
  .mobile-logo
  {
    display: flex;
    font-size: 1.2rem;
    width: 90%;
  }
  .toastify-container
  {
    width: 80%;
  }
  .login-container .image-box {
   display: none;
  }
  .login-wrap
  {
    width: 100%;
  }
  .login-box {
    align-items: center;
    width: 100%;
    margin-top:1rem;
  }
  .login-heading
  {
    width: 90%;
    margin-top: 1rem;
  }
  .login-heading h2
  {
    font-size: 2rem;
  }
.login-content-body
{
  width: 90%;
}
}
@media screen and (max-width: 592px) {
  .login-heading h2
  {
    font-size: 1.7rem;
  }
  .input-tab
  {
    height: 2.7rem;
  }
  .button-login button
  {
    height: 2.7rem;
  }
}
