.link-decoration{
  color:white;
  text-decoration: none;
}
.link-decoration:hover
{
  color: white;
  text-decoration: none;
}
.link-decoration:visited
{
  color: white;
  text-decoration: none;
}
.link-decoration:active
{
  color: white;
  text-decoration: none;
}
.link-decoration-body{
  color:rgb(7, 7, 7);
  text-decoration: none;
}
.link-decoration-body:hover
{
  color:rgb(7, 7, 7);
  text-decoration: none;
}
.link-decoration-body:visited
{
  color:rgb(7, 7, 7);
  text-decoration: none;
}
.link-decoration-body:active
{
  color:rgb(7, 7, 7);
  text-decoration: none;
}
.link-decoration-login
{
  color: #ff2323;
  text-decoration: none;
}
.link-decoration-login:hover
{
  color: #ff2323;
  text-decoration: none;
}
.link-decoration-login:visited
{
  color: #ff2323;
  text-decoration: none;
}
.link-decoration-login:active
{
  color: #ff2323;
  text-decoration: none;
}
.App {
  text-align: center;
  text-decoration: none;
}
input
{
  border: none;
  outline: none;
}
.message-toast
{
  position: absolute !important;
  height: fit-content !important;
  top:10% !important;
}
::-webkit-scrollbar {
  width: .3rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
