.link-decoration,.link-decoration:hover,.link-decoration:visited,.link-decoration:active
{
  color:white;
  text-decoration: none;
}
.link-decoration-body,.link-decoration-body:hover,.link-decoration-body:visited,.link-decoration-body:active
{
  color:rgb(7, 7, 7);
  text-decoration: none;
}
.link-decoration-login,.link-decoration-login:hover,.link-decoration-login:visited,.link-decoration-login:active
{
  color: #ff2323;
  text-decoration: none;
}
.link-carousel,.link-carousel:active,.link-carousel:visited
{
  text-decoration: none;
  color: #2FA3FB;
}
.link-carousel:hover
{
  color:white;
}
.App {
  text-align: center;
  text-decoration: none;
}
input
{
  border: none;
  outline: none;
}
.message-toast
{
  position: absolute !important;
  height: fit-content !important;
  top:10% !important;
}
::-webkit-scrollbar {
  width: .3rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}