.Login-page {
  font-family: 'Sora', sans-serif;
  height: 100vh;
}
.admin-login-container {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px grey;
  display: flex;
  border-radius: 0.3rem;
}
.admin-login-form {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 5rem;
}
.admin-logo-login {
  display: flex;
  width: 85%;
  justify-content: flex-start;
  margin-top: 12rem;
  margin-bottom: 1rem;
  align-items: center;
  font-size: 1.4rem;
}
.admin-login-design {
  width: 50%;
  background: url("../assets/wall1.jpg");
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.admin-login-design h2 {
  font-size: 2rem;
  margin-top: 16rem;
}
.admin-login-design p {
  font-size: 1rem;
  margin-top: .5rem;
}
.admin-login-content {
  margin-top: 1rem;
  width: 75%;
  display: flex;
}
.add-class
{
  position: absolute;
  top:73%;
  left: 65%;
  color: white;
  width:10rem;
  height: 10rem;
}
.admin-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.admin-mobile-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: .7rem 0rem;
}
.admin-mobile-label p {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  color: rgb(100, 100, 100);
  margin-bottom: 1.5rem;
}
.admin-name-tab {
  width: 100%;
  display: flex;
  margin-top: -1rem;
  flex-direction: column;
  align-items: flex-start;
}
.admin-name-tab input[type='email'],.admin-name-tab input[type='password'] {
  outline: none;
  border-bottom: 2px solid rgb(175, 175, 175);
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  padding-left: .5rem;
}
.admin-name-tab input[type='email']:focus,.admin-name-tab input[type='password']:focus
{
  border: 2px solid #353E5B;
  background-color: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
  transition: background-color 5000s ease-in-out 0s;
}
.admin-required-error {
  color: rgb(224, 1, 1);
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
.admin-button-login {
  display: flex;
  margin-top: 3rem;
  width: 100%;
}
.admin-button-login input[type="submit"] {
  border: none;
  width: 100%;
  height: 3rem;
  outline: none;
  border:2px solid #353E5B;
  color: #353E5B;
  background-color: white;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
  border-radius: .2rem;
  transition: all .5s;
}
.admin-button-login input[type="submit"]:hover
{
  background-color: #33aeb1;
  color: white;
  border: none;
}
.login-icon {
  color: #33aeb1;
}
.admin-forgot-box
{
  margin-top: 2.5rem;
  color:#353E5B;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all .7s;
}
.admin-forgot-box:hover
{
  color: red;
}
