.mobile-multicategory-slider
{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 1rem;
}
.category-heading
{
    display: flex;
    width: 100%;
    margin-top: 1rem;
}
.category-slider-container
{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: .3rem;
}
.category-slider-container .image-box
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-slider-container .text-box
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    margin-bottom: .5rem;
}
@media screen and (max-width: 992px) {
    .category-heading
    {
        display: none;
    }
    .category-slider-container .image-box img
{
    width:50%;
    height: auto;
}
  }
  @media screen and (max-width: 592px) {
    .category-heading
    {
        display: none;
    }
    .category-slider-container .image-box img
{
    width:70%;
    height: auto;
}
  }
  
  